.hero {
  padding-block: var(--padding-block, var(--spacing-24));
  text-align: center;
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 -1em;
  background-size: cover;

  @media (min-width: 90rem) {
    background-image: url(/images/bg-boost-desktop.svg);
    background-position: unset;
    background-size: 100%;
    padding-block: var(--padding-block, var(--spacing-15));
  }
}
