.shorten-cards {
  > * + * {
    margin-block-start: var(--spacing-6);
  }

  @media (min-width: 90rem) {
    margin-block-start: var(--spacing-4);
  }
}

.shorten-card {
  background-color: var(--clr-white);

  @media (min-width: 90rem) {
    display: flex;
    align-items: center;
    :nth-child(3) {
      margin-left: auto;
    }
  }

  > .divider {
    margin-block: var(--spacing-4);
  }

  .raw {
    --clr-opacity: 0.2;
    display: block;
    padding: var(--card-padding);
    font-size: var(--fs-base);
    color: var(--clr-very-darkblue);
  }

  > .url {
    color: var(--clr-cyan);
    display: block;
    padding: var(--card-padding);
  }

  > .button {
    margin-block-start: var(--spacing-4);
    width: 100%;
    @media (min-width: 90rem) {
      margin-block-start: var(--spacing-0);
      margin-inline-start: var(--spacing-6);
      --padding-x: 0;
      width: 120px;
    }
  }
}
