.shorten-form {
  background-color: var(--clr-very-darkblue);
  padding: var(--spacing-6);
  border-radius: 10px;
  background-image: url(images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
